
body {
    background: url('../images/website-background-templates.jpg') fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

.nav-link-custom {
    font-weight: bold;
    display: inline-block;
}

.navbar-nav {
    align-items: center;
}


.form-search {
    justify-content: center;
    width: 60%;
    background-color: #febb02;
    justify-content: space-around;
}

    .form-search form {
        margin: 10px 0;
    }

    .form-search fieldset {
        border: none;
    }

    .form-search select {
        padding: 5px;
        font-size: 16px;
    }

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #45a049;
    }
}