
* {
    
    margin: 0 auto;
}

body {
    width: 100%;
    background: url('../images/website-background-templates.jpg');
    background-size:cover;
}

.menu {
    background-color: black;
}

    .menu li {
        display: inline-block;
        padding: 10px;
        background-color: black;
        color: white;
    }

.navbar-brand {
    color: white;
    text-decoration: none;
}

.rightmenu {
    float: right;
    
}

.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .form-search form {
        margin: 10px 0;
    }

    .form-search fieldset {
        border: none; 
    }

    .form-search select {
        padding: 5px;
        font-size: 16px;
    }

    .form-search select {
        padding: 5px;
        font-size: 16px;
    }
